@import "../../variables";

.project {
    transition: transform .2s;

    &__heading {
        text-align: center;
        padding: 4rem 0 2rem 0;
    }

    &__container {
        max-width: 1140px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding-bottom: 5rem;

        @media screen and (max-width: 740px) {
            max-width: 90%;
            margin: auto;
            grid-template-columns: 1fr;
        }
    }

    &__card {
        background: $light-navy;
        padding: 1.2rem 1rem;

        &:hover {
            background-color: $lightest-navy;
            transform: scale(1.1);
        }

        img {
            width: 100%;
        }
    }

    &__title {
        color: $lightest-slate;
    }

    &__content {
        p {
            padding-bottom: 1rem;
            font-size: 1.1rem;
            text-align: justify;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;

        .btn {
            padding: 0.5rem 1rem;
        }
    }
}